h1 {
    margin: 100px 0 10px 0;
    font-family: Arial, Helvetica, sans-serif;
}

svg {
    width: 50px;
    margin-bottom: 25px;
}

.cart {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 20px;
}

.cart-item {
    width: 220px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(116, 83, 21, 0.288);
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
}

img {
    width: 200px;
}

.buttons button {
    margin: 2px 2px 8px 2px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    transition: 0.2s;
    &:hover {
        box-shadow: 0 2px 4px black;
        transition: 0.1s;
    }
}

.deleteBtn {
    width: 100px;
    height: 25px;
    background-color: rgb(145, 12, 12);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        background-color: red;
        box-shadow: 0 2px 4px black;
        transition: 0.1s;
    }
}

.checkout {
    position: absolute;
    right: 100px;
}

.checkout button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: 1s;
    &:hover {
        animation: checkout 1s ease-in ;
        animation-fill-mode:forwards;
    }
}

.popup-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 128, 0, 0.26);
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-container.active {
    opacity: 1;
    pointer-events: auto;
}

.popup-box {
    width: 600px;
    height: 400px;
    background-color: white;
    box-shadow: 0 2px 4px 2px black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.popup-box button {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgb(102, 102, 102);
    box-shadow: 0 2px 4px black;
    cursor: pointer;
}

.card-img {
    display: flex;
    width: 80px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.form-inputs {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

input {
    display: block;
    margin: 5px 0 5px 0;
    padding: 2px 0 2px 3px;
}

.important p {
    font-size: 10px;
    color: rgba(255, 0, 0, 0.658);
}

input.ng-touched.ng-invalid  {
    border: 1px solid rgba(255, 0, 0, 0.658) !important;
}

.checkout-btn {
    margin-top: 10px;
}
.checkout-btn button {
    width: 300px;
    height: 40px;
    background-color: rgb(8, 199, 8);
}


#phone::-webkit-inner-spin-button {
    display: none;
    max-lines: 9;
}

/* ANIMATIONS */

@keyframes checkout {
    30% {
        box-shadow: 0 1px 2px  rgb(59, 170, 235);
        background-color: lightgreen;
        border-radius: 6px;
    }

    60% {
        box-shadow: 0 1px 2px  rgb(59, 170, 235);
        background-color: lightgreen;
        border-radius: 8px;
    }
    100% {
        box-shadow: 0 1px 2px  rgb(59, 170, 235);
        background-color: lightgreen;
        border-radius: 10px;
    }
}

/* MEDIA */

@media (max-width: 520px) {
    .cart-item {
        width: 150px;
    }
    .cart-item img {
        width: 120px;
    }

    .cart-item h3 {
        font-size: 13px;
    }
    .cart-item p {
        font-size: 12px;
    }

    .buttons button {
        width: 18px;
        height: 18px;
    }
    .deleteBtn {
        width: 80px;
        height: 20px;
    }
}